### "Solve the problem using a for loop.
#### https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week6/Week6.Exercise1.ipynb

#### 1. Print numbers from 1 to 5.

In [1]:
for i in range(1,6):
  print(i)

1
2
3
4
5

#### 2. Print the square of numbers from 1 to 5.

In [3]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

#### 3. Print the sum of numbers from 1 to 10.

In [4]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

#### 4. Print the first 5 even numbers.

In [5]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

#### 5. Print the factorial of a given number.

In [ ]:
number = 5
factorial = 1

In [15]:
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i     ### multiple by factorial
print(f"Factorial of {num}: {factorial}")

Factorial of 5: 120

#### 6. Find the sum of all even numbers between 1 and 20.

In [7]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

#### 7. Check if a given number is a prime number.

In [ ]:
number = 13

In [16]:
number = 13
is_prime = True
for i in range(2,number):
  if number % i == 0:
    is_prime = False
    break                         # false eka hari nam api methanin ehata balanne neee.
print(is_prime)

True

#### 8. Find the greatest common divisor (GCD) of two given numbers.

In [ ]:
a = 56
b = 98
gcd = 1

#### 9. Reverse a given string.

In [ ]:
text = "Python"
reversed_text = ""

In [19]:
text = "Python"
reversed_text = ""
for char in text:
  reversed_text = char + reversed_text
  print(reversed_text)

nohtyP

In [21]:
text = "Python"
reversed_text = ""
for char in text:
  reversed_text = reversed_text + char
print(reversed_text)

Python

#### 10. Count the occurrence of a specific character in a given string.

In [ ]:
text = "Hello, World!"
char_to_count = "l"
count = 0

#### 11. Print a right-angled triangle using asterisks, like below:

#### *
#### **
#### ***
#### ****
#### *****

In [ ]:
height = 5

#### 12. Print a triangle using asterisks, like below:
![image.png](attachment:2f535389-ca3f-4559-ade5-3caa97973023.png)

In [ ]:
height = 5