## Objective: To learn and understand the usage of for loops in Python <br>
https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week6/Week6.1.ipynb
### Outline:

#### ① Introduction to For Loops
#### ② Basic For Loop Syntax
#### ③ Looping Through a List
#### ④ Looping Through a Tuple
#### ⑤ Looping Through a String
#### ⑥ Looping Through a Dictionary
#### ⑦ Looping Through a Set
#### ⑧ Looping Through a Range
#### ⑨ Using enumerate() with For Loops
#### ⑩ Nested For Loops
#### ⑪ List Comprehensions
#### ⑫ Examples of For Loops

### 1. Introduction to For Loops
#### For loops in Python are used for iterating over a sequence (a list, tuple, set, string, or dictionary).
#### They allow you to execute a block of code for each item in the sequence.

![Forloop.png](https://raw.githubusercontent.com/JunetaeKim/PythonClass/main/week6/IntroForLoop.png)

#### Introduction to basic syntax of while loop
#### https://pynative.com/python-while-loop/
![image.png](https://raw.githubusercontent.com/JunetaeKim/PythonClass/main/week6/SyntaxForLoop.png)!

### 2. Basic For Loop Syntax
#### The basic syntax of a for loop in Python is.

In [ ]:
for variable in sequence:
    # Code to execute for each item

### 3. Looping Through a List
#### To loop through a list, you can use a for loop like this.

In [1]:
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

apple
banana
orange

### 4. Looping Through a Tuple
#### Looping through a tuple is similar to looping through a list.

In [ ]:
colors = ('red', 'green', 'blue')
for color in colors:
    print(color)

red
green
blue

### 5. Looping Through a String
#### You can loop through a string to access each character.

In [2]:
text = "hello"
for char in text:
    print(char)

h
e
l
l
o

### 6. Looping Through a Dictionary
#### To loop through a dictionary, you can use the .items() method to access both keys and values.

In [4]:
person = {'name': 'John', 'age': 25, 'city': 'New York'}
for key, value in person.items():
    print(f"{key}: {value}")

name: John
age: 25
city: New York

### 7. Looping Through a Set
#### Looping through a set is similar to looping through a list or tuple.

In [ ]:
unique_numbers = {1, 2, 3, 4, 5}
for number in unique_numbers:
    print(number)

1
2
3
4
5

### 8. Looping Through a Range
#### You can use the range() function to loop through a sequence of numbers.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
range(5)  # default is zero

range(0, 5)

In [7]:
for i in range(1, 10, 2):   # 2 shows interval
 print(i)

1
3
5
7
9

In [8]:
for i in range(1, 10):   # all numbers within the range
 print(i)

1
2
3
4
5
6
7
8
9

### 9. Using enumerate() with For Loops
#### The enumerate() function can be used with a for loop to get both the index and value of each item in a sequence.

In [ ]:
fruits = ['apple', 'banana', 'orange']  # which index is indicate the items
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: orange

### 10. Nested For Loops
#### You can use nested for loops to loop through multiple dimensions, such as a matrix.

In [ ]:
matrix = [                                # two dimnesion raw and coloumn
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [9]:
matrix = [                                # two dimnesion raw and coloumn
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    for element in row:
        print(element)    # no line change
    print()

1
2
3

4
5
6

7
8
9

### 11. List Comprehensions
#### List comprehensions provide a concise way to create lists using a for loop.

In [10]:
squares = [x**2 for x in range(1, 6)]     ## we donot count the last number # x squared for 1,2,3,4,5   ## [] within list
print(squares)

[1, 4, 9, 16, 25]

### 12. Examples of For Loops
#### 12.1 Calculate the sum of a list of numbers

In [11]:
# Calculate the sum of a list of numbers
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print(f"Sum of all elements: {total}")

Sum of all elements: 15

#### 12.2 Calculate the sum of a list of numbers

In [ ]:
# Find the longest word in a list
words = ['apple', 'banana', 'orange', 'strawberry', 'kiwi']
longest_word = ''
for word in words:
    if len(word) > len(longest_word):
        longest_word = word                               # longest word replace with current word
print(f"Longest word: {longest_word}")

Longest word: strawberry

#### 12.3 Calculate the sum of a list of numbers

In [13]:
# Count the occurrences of a specific character in a string
text = "hello world"
target_char = 'l'    # how many L exist
count = 0
for char in text:
    if char == target_char:
        count += 1
print(f"Occurrences of '{target_char}': {count}")

Occurrences of 'l': 3

#### 12.4 Remove duplicates from a list using a set

In [ ]:
# Remove duplicates from a list using a set
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_list = list(set(original_list))
print(f"Unique list: {unique_list}")

Unique list: [1, 2, 3, 4, 5, 6]

In [19]:
tmp = []
for i in [1, 2, 2, 3, 4, 4, 5, 6, 6]:
  if i not in tmp:
    tmp.append(i)
    print(tmp)      ## changing the position of the print , it may be changed of results

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

#### 12.5 Calculate the factorial of a number using a for loop

In [21]:
# Calculate the factorial of a number using a for loop
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i     ### multiple by factorial
print(f"Factorial of {num}: {factorial}")

Factorial of 5: 120