### "Solve the problem using a while loop.
#### https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week6/Week6.Exercise2.ipynb

#### 1. Print numbers from 1 to 5.

In [1]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

#### 2. Print the square of numbers from 1 to 5.

In [2]:
i = 1
while i <= 5:
    print(f"Square of {i} is {i ** 2}")
    i += 1

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

#### 3. Print the sum of numbers from 1 to 10.

In [3]:
i = 1
total = 0

while i <= 10:
    total += i
    i += 1

print(f"Sum of numbers from 1 to 10 is {total}")

Sum of numbers from 1 to 10 is 55

#### 4. Print the first 5 even numbers.

In [4]:
i = 2            # Start from the first even number
count = 0        # Count how many even numbers we've printed

while count < 5:
    print(i)
    i += 2        # Move to the next even number
    count += 1    # Increase the printed count

2
4
6
8
10

#### 5. Print the factorial of a given number.

In [ ]:
number = 5

In [5]:
number = 5
factorial = 1
i = 1

while i <= number:
    factorial *= i
    i += 1

print(f"Factorial of {number} is {factorial}")

Factorial of 5 is 120

#### 6. Find the sum of all even numbers between 1 and 20.

In [6]:
i = 2           # Start from the first even number
total = 0

while i <= 20:
    total += i
    i += 2       # Move to the next even number

print(f"Sum of even numbers from 1 to 20 is {total}")

Sum of even numbers from 1 to 20 is 110

#### 7. Check if a given number is a prime number.
#### A prime number is a whole number greater than 1 whose only factors are 1 and itself.
#### A factor is a whole number that can be divided evenly into another number.
#### The first few prime numbers are 2, 3, 5, 7, 11, 13, 17, 19, 23 and 29.

In [ ]:
number = 13

In [7]:
number = 13
is_prime = True

if number < 2:
    is_prime = False
else:
    i = 2
    while i * i <= number:
        if number % i == 0:
            is_prime = False
            break
        i += 1

if is_prime:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

13 is a prime number.

#### 8. Find the greatest common divisor (GCD) of two given numbers.

In [ ]:
a = 56
b = 98

In [8]:
a = 56
b = 98

i = 1
gcd = 1

while i <= min(a, b):
    if a % i == 0 and b % i == 0:
        gcd = i
    i += 1

print(f"The GCD of {a} and {b} is {gcd}")

The GCD of 56 and 98 is 14

#### 9. Reverse a given string.

In [ ]:
text = "Python"

In [9]:
text = "Python"
reversed_text = ""
i = len(text) - 1  # Start from the last character

while i >= 0:
    reversed_text += text[i]
    i -= 1

print(f"Reversed string: {reversed_text}")

Reversed string: nohtyP

#### 10. Count the occurrence of a specific character in a given string.

In [ ]:
text = "Hello, World!"
char_to_count = "l"

#### 11. Print a right-angled triangle using asterisks, like below:

#### *
#### **
#### ***
#### ****
#### *****

In [ ]:
height = 5

#### 12. Print a triangle using asterisks, like below:
![image.png](https://raw.githubusercontent.com/JunetaeKim/PythonClass/main/week6/StarPyramid.png)

In [ ]:
height = 5