### "Solve the problem using a for loop.
#### https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week6/Week6.Exercise1.ipynb

#### 1. Print numbers from 1 to 5.

In [1]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

#### 2. Print the square of numbers from 1 to 5.

In [2]:
for i in range(1, 6):
    print(f"Square of {i} is {i ** 2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

#### 3. Print the sum of numbers from 1 to 10.

In [4]:
total = 0
for i in range(1, 11):
    total += i

print(f"Sum of numbers from 1 to 10 is {total}")

Sum of numbers from 1 to 10 is 55

#### 4. Print the first 5 even numbers.

In [5]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

#### 5. Print the factorial of a given number.

In [ ]:
number = 5
factorial = 1

In [6]:
number = 5
factorial = 1

for i in range(1, number + 1):
    factorial *= i

print(f"Factorial of {number} is {factorial}")

Factorial of 5 is 120

#### 6. Find the sum of all even numbers between 1 and 20.

In [7]:
total = 0

for i in range(2, 21, 2):  # Even numbers from 2 to 20
    total += i

print(f"Sum of even numbers from 1 to 20 is {total}")

Sum of even numbers from 1 to 20 is 110

#### 7. Check if a given number is a prime number.

In [ ]:
number = 13

In [9]:
number = 13
is_prime = True

if number < 2:
    is_prime = False
else:
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break

if is_prime:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

13 is a prime number.

A prime number has only two divisors: 1 and itself.

We check divisibility from 2 up to √number (more efficient).

If divisible by any of those, it's not prime.

#### 8. Find the greatest common divisor (GCD) of two given numbers.

In [ ]:
a = 56
b = 98
gcd = 1

In [ ]:
a = 56
b = 98
gcd = 1

for i in range(1, min(a, b) + 1):
    if a % i == 0 and b % i == 0:
        gcd = i

print(f"The GCD of {a} and {b} is {gcd}")

range(1, min(a, b) + 1) → checks all numbers from 1 up to the smaller of the two numbers.

if a % i == 0 and b % i == 0: → checks if i divides both numbers with no remainder.

The last such i found will be the greatest common divisor.

#### 9. Reverse a given string.

In [ ]:
text = "Python"
reversed_text = ""

In [10]:
text = "Python"
reversed_text = ""

for char in text:
    reversed_text = char + reversed_text  # Add each character to the front

print(f"Reversed string: {reversed_text}")

Reversed string: nohtyP

We loop through each character in "Python".

Instead of adding characters to the end, we add each one to the front of reversed_text.

This builds the string in reverse order.

#### 10. Count the occurrence of a specific character in a given string.

In [ ]:
text = "Hello, World!"
char_to_count = "l"
count = 0

In [11]:
text = "Hello, World!"
char_to_count = "l"
count = 0

for char in text:
    if char == char_to_count:
        count += 1

print(f"Occurrences of '{char_to_count}': {count}")

Occurrences of 'l': 3

#### 11. Print a right-angled triangle using asterisks, like below:

#### *
#### **
#### ***
#### ****
#### *****

In [ ]:
height = 5

#### 12. Print a triangle using asterisks, like below:
![image.png](attachment:2f535389-ca3f-4559-ade5-3caa97973023.png)

In [ ]:
height = 5