#### https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week4/Week4.Exercise1.ipynb

#### 1. Convert the given list to a tuple.

In [ ]:
fruits = ["apple", "banana", "cherry"]

In [1]:
fruits = ("apple","banana","cherry")
print(fruits)

('apple', 'banana', 'cherry')

#### 2. Convert the given tuple to a list.

In [3]:
fruits_tuple = ("apple", "banana", "cherry")
fruits_list = ["apple", "banana", "cherry"]
print(fruits_list)

['apple', 'banana', 'cherry']

#### 3. Convert the given list to a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]

#### 4. Find the intersection of two given sets.

In [5]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1.intersection(set2)
print(intersection)

{4, 5}

#### 5. Find the union of two given sets.

In [7]:
from typing import Union
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

Union = set1.union(set2)
print(Union)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 6. Find the difference between two given sets.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference = set1.difference(set2)
print(difference)

{1, 2, 3}

#### 7. Check if the given element exists in the tuple.

In [10]:
fruits_tuple = ("apple", "banana", "cherry")
element = "apple"

exists = element in fruits_tuple
print(exists)

True

#### 8. Add an element to the given set.

In [11]:
fruits_set = {"apple", "banana", "cherry"}
element = "orange"

Add = fruits_set.add(element)
print(fruits_set)

{'orange', 'apple', 'cherry', 'banana'}

#### 9. Remove an element from the given set.

In [12]:
fruits_set = {"apple", "banana", "cherry"}
element = "banana"

remove = fruits_set.remove(element)
print(fruits_set)

{'apple', 'cherry'}

#### 10. Find the length of the given tuple.

In [13]:
fruits_tuple = ("apple", "banana", "cherry")
length = len(fruits_tuple)
print(length)

3

#### 11. Find the index of the given element in the tuple.

In [14]:
fruits_tuple = ("apple", "banana", "cherry")
element = "banana"
index = fruits_tuple.index(element)
print(index)

1

#### 12. Find the count of the given element in the tuple.

In [15]:
fruits_tuple = ("apple", "banana", "cherry", "banana")
element = "banana"
count = fruits_tuple.count(element)
print(count)

2