## Objective: Learn to create and manipulate Python sets <br>
https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week4/Week4.2.ipynb
### Outline:
#### ① Creating a Set
#### ② Accessing Set Elements
#### ③ Adding Elements to a Set
#### ④ Removing Elements from a Set
#### ⑤ Set Operations {Union, Intersection, Difference, Symmetric Difference}
#### ⑥ Example: Working with Sets

### 1. Creating a Set
#### To create a set, use curly braces {} and separate the elements with commas.
#### Alternatively, you can use the set() constructor. Sets do not allow duplicate elements and are unordered.

In [ ]:
fruits = {"apple", "banana", "cherry"}
numbers = set([1, 2, 3, 4, 5])

### 2. Accessing Set Elements
#### Since sets are unordered, you cannot access elements using an index.
#### However, you can use a for loop to iterate through the elements, or check if an element is present using the in keyword.

In [ ]:
fruits = {"apple", "banana", "cherry"}

# Iterate through the set elements
for fruit in fruits:
    print(fruit)

# Check if an element is in the set
print("banana" in fruits)  # Output: True

apple
cherry
banana
True

### 3. Adding Elements to a Set
#### Use the add() method to add a single element, and the update() method to add multiple elements from another set or iterable.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

fruits.update(["grape", "kiwi"])
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange', 'grape', 'kiwi'}

{'apple', 'cherry', 'orange', 'banana'}
{'cherry', 'grape', 'orange', 'banana', 'apple', 'kiwi'}

### 4. Removing Elements from a Set
#### Use the remove() method to remove a specific element.
#### If the element is not found, a KeyError will be raised.
#### Alternatively, use the discard() method, which will not raise an error if the element is not found.

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)  # Output: {'apple', 'cherry'}

fruits.discard("banana")
print(fruits)  # Output: {'apple', 'cherry'}

{'apple', 'cherry'}
{'apple', 'cherry'}

### 5. Set Operations
#### Sets support various operations such as union, intersection, difference, and symmetric difference.

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

# Union
union = A.union(B)
print(union)  # Output: {1, 2, 3, 4, 5, 6}

# Intersection
intersection = A.intersection(B)
print(intersection)  # Output: {3, 4}

# Difference
difference = A.difference(B)
print(difference)  # Output: {1, 2}

# Symmetric Difference  # either of the set , But not in both
symmetric_difference = A.symmetric_difference(B)
print(symmetric_difference)  # Output: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

### 6. Example: Working with Sets
#### In this example, we'll demonstrate a simple use case of sets.
#### Sets are useful when you need to store a collection of unique, unordered elements and perform operations like union, intersection, or difference.

In [ ]:
# Create a set of numbers
numbers = {5, 2, 9, 4, 7}

# Add a new number to the set
numbers.add(10)
print(f"Set after adding a new number: {numbers}")

# Remove an element from the set
numbers.discard(7)
print(f"Set after removing an element: {numbers}")


# Find the union of two sets
even_numbers = {2, 4, 6, 8, 10}
odd_numbers = {1, 3, 5, 7, 9}
all_numbers = even_numbers.union(odd_numbers)
print(f"Union of even and odd numbers: {all_numbers}")

# Find the intersection of two sets
common_numbers = even_numbers.intersection(numbers)
print(f"Intersection of even_numbers and numbers: {common_numbers}")