#### https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week4/Week4.Exercise2.ipynb

#### 1. Create a list with the following elements: "apple", "banana", "cherry".

In [ ]:
list =

#### 2. Create a set with the following elements: "apple", "banana", "cherry".

#### 3. Create a dictionary with the following keys and values: "apple" - 3, "banana" - 5, "cherry" - 2.

#### 4. Create a tuple with the following elements: "apple", "banana", "cherry".

#### 5. Access the value for the key "apple" in the given dictionary.
## apple ekata ayath value eka kiyada?

In [3]:
fruits_dict = {"apple": 3, "banana": 5, "cherry": 2}

# Access value for key "apple"
value = fruits_dict["apple"]
print(value)

3

#### 6. Update the value for the key "banana" in the given dictionary to 10.

In [5]:
fruits_dict = {"apple": 3, "banana": 5, "cherry": 2}
update = fruits_dict["banana"] = 10
print(fruits_dict)

{'apple': 3, 'banana': 10, 'cherry': 2}

#### 7. Remove the "cherry" key-value pair from the given dictionary.

In [6]:
fruits_dict = {"apple": 3, "banana": 5, "cherry": 2}
remove = fruits_dict.pop("cherry")
print(fruits_dict)

{'apple': 3, 'banana': 5}

#### 8. Check if the given element exists in the list.

In [7]:
fruits_list = ["apple", "banana", "cherry"]
element = "banana"

exists = element in fruits_list
print(exists)

True

#### 9. Add an element to the given list.

In [8]:
fruits_list = ["apple", "banana", "cherry"]
element = "orange"

add = fruits_list.append(element)
print(fruits_list)

['apple', 'banana', 'cherry', 'orange']

#### 10.Remove the given element from the list.

In [10]:
fruits_list = ["apple", "banana", "cherry"]
element = "banana"

remove = fruits_list.remove(element)
print(fruits_list)

['apple', 'cherry']