## Objective: Learn to create and manipulate Python tuples <br>
https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week4/Week4.1.ipynb

### Outline:
#### ① Creating a Tuple
#### ② Accessing Tuple Elements
#### ③ Negative Indexing
#### ④ Slicing Tuples
#### ⑤ Tuple Immutability
#### ⑥ Concatenating Tuples
#### ⑦ Finding the Length of a Tuple
#### ⑧ Example: Working with Tuples


lecture 03
# list - can re
# pop- removing the last elements
#

### 1. Creating a Tuple
#### To create a tuple, use parentheses () and separate the elements with commas.
#### Tuples can contain different data types, including strings, integers, and floats.
# list [] but tuple ()

In [1]:
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)
mixed_tuple = ("apple", 1, 2.5)

### 2. Accessing Tuple Elements
#### You can access tuple elements using their index. Indexing starts at 0.

In [2]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana

apple
banana

### 3. Negative Indexing
#### Negative indexing allows you to access elements from the end of the tuple.
# reverse fro last elements
# (-0) is not excisting

In [3]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])  # Output: cherry
print(fruits[-2])  # Output: banana

cherry
banana

### 4. Slicing Tuples
#### Slicing allows you to get a portion of a tuple. Use the colon : to indicate the start and end index.
# index- pick one elements, reducing  the dimension  
# slicing- already removing dimension
# when u  use the

In [4]:
fruits = ("apple", "banana", "cherry", "orange", "grape")
subtuple = fruits[1:4]  # Output: ('banana', 'cherry', 'orange')

### 5. Tuple Immutability
#### Tuples are immutable, which means their elements cannot be modified.
#### Attempting to change an element in a tuple will result in an error.ㅡ

In [6]:
fruits = ("apple", "banana", "cherry")
fruits[1] = "blueberry"  # TypeError: 'tuple' object does not support item assignment

fruits = ("apple", "banana", "cherry")
list(fruits)  # then list can be changeble

TypeError: 'tuple' object does not support item assignment

### 6.Concatenating Tuples
#### Use the + operator to combine two tuples.

In [7]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

### 7. Finding the Length of a Tuple
#### Use the len() function to find the length of a tuple.

In [8]:
fruits = ("apple", "banana", "cherry", "orange") # no of the words only 4
tuple_length = len(fruits)
print(tuple_length)  # Output: 4

4

In [9]:
len('abcdefgf') # no of characters

8

### 8. Example: Working with Tuples
#### In this example, we'll demonstrate a simple use case of tuples without using functions, for loops, or if statements.

In [11]:
# Create a tuple of numbers
numbers = (5, 2, 9, 4, 7)

# Access and print the first and last elements of the tuple
first_number = numbers[0]
last_number = numbers[-1]

print(f"The first number is {first_number} and the last number is {last_number}")

# Slice the tuple to get a subtuple of the middle three elements
middle_three = numbers[1:4]
print(f"The middle three numbers are {middle_three}")

# Attempting to modify the second element of the tuple will result in an error
# numbers[1] = 3  # Uncommenting this

The first number is 5 and the last number is 7
The middle three numbers are (2, 9, 4)