https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week3/Week3.Exercise2.ipynb

#### 1. Check if the string s = "NCC-GCSP" contains the letter "GCSP" using the in keyword.

In [ ]:
s = "NCC-GCSP"

#### 2. Question: Given the string s = "Artificial Intelligence", create a new string with only the first 10 characters. Use slicing.

In [ ]:
s = "Artificial Intelligence"

#### 3. Question: Reverse the order of the elements in the list l = [5, 10, 15, 20] without using any built-in functions or methods.

In [ ]:
l = [5, 10, 15, 20]

#### 4. Find the sum of the given list of numbers.
#### numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]

#### 5. Find the index of the given element in the list.
#### students = ["John", "Alice", "Bob", "Linda"]
#### element = "Bob"

In [3]:
students = ["John", "Alice", "Bob", "Linda"]
element = "Bob"
Index_of_Bob = students.index(element)
print(Index_of_Bob)

2

#### 6. Find the minimum and maximum values of the given list of numbers.
#### numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]

#### 7. Sort the given list of numbers in ascending order.
#### numbers = [5, 3, 1, 4, 2]

In [ ]:
numbers = [5, 3, 1, 4, 2]

#### 8. Check if the given element exists in the list.
#### students = ["John", "Alice", "Bob", "Linda"]
#### element = "Linda"

In [ ]:
students = ["John", "Alice", "Bob", "Linda"]
element = "Linda"

#### 9. Add the given element to the end of the list.
#### students = ["John", "Alice", "Bob", "Linda"]
#### element = "Tom"

In [ ]:
students = ["John", "Alice", "Bob", "Linda"]
element = "Tom"