https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week3/Week3.Exercise2.ipynb

#### 1. Check if the string s = "NCC-GCSP" contains the letter "GCSP" using the in keyword.

In [1]:
s = "NCC-GCSP"
is_contain = "GCSP" in s
print(is_contain)

True

#### 2. Question: Given the string s = "Artificial Intelligence", create a new string with only the first 10 characters. Use slicing.

In [3]:
s = "Artificial Intelligence"
first_10_chars = s[:10]
print(first_10_chars)

Artificial

#### 3. Question: Reverse the order of the elements in the list l = [5, 10, 15, 20] without using any built-in functions or methods.

In [4]:
l = [5, 10, 15, 20]
reversed_l = l[::-1]
print(reversed_l)

[20, 15, 10, 5]

#### 4. Find the sum of the given list of numbers.
#### numbers = [1, 2, 3, 4, 5]

In [5]:
numbers = [1, 2, 3, 4, 5]
sum_numbers = sum(numbers)
print(sum_numbers)

15

#### 5. Find the index of the given element in the list.
#### students = ["John", "Alice", "Bob", "Linda"]
#### element = "Bob"

In [ ]:
students = ["John", "Alice", "Bob", "Linda"]
element = "Bob"

#### 6. Find the minimum and maximum values of the given list of numbers.
#### numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
max

#### 7. Sort the given list of numbers in ascending order.
#### numbers = [5, 3, 1, 4, 2]

In [ ]:
numbers = [5, 3, 1, 4, 2]

In [7]:
numbers = [5, 3, 1, 4, 2]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 2, 3, 4, 5]

#### 8. Check if the given element exists in the list.
#### students = ["John", "Alice", "Bob", "Linda"]
#### element = "Linda"

In [8]:
students = ["John", "Alice", "Bob", "Linda"]
element = "Linda"
is_exist = element in students
print(is_exist)

True

#### 9. Add the given element to the end of the list.
#### students = ["John", "Alice", "Bob", "Linda"]
#### element = "Tom"

In [9]:
students = ["John", "Alice", "Bob", "Linda"]
element = "Tom"

add_element = students.append(element)
print(students)

['John', 'Alice', 'Bob', 'Linda', 'Tom']