#### https://colab.research.google.com/github/JunetaeKim/PythonClass/blob/main/week5/Week5.Exercise2.ipynb

#### 1. Handle a division by zero exception. 'ZeroDivisionError'

In [1]:
a = 10
b = 0
try:
    result = a / b
except ZeroDivisionError:
    print("error")

error

#### 2. Handle an exception when trying to access a non-existent key in a dictionary. 'KeyError'

In [3]:
d = {'name': 'Alice', 'age': 25}
key = 'city'

try:
    value = d[key]
    print("Value:", value)
except KeyError:
    print(f"Key '{key}' not found in the dictionary.")

Key 'city' not found in the dictionary.

#### 3. Handle an exception when trying to convert a non-numeric string to an integer. 'ValueError'

In [ ]:
s = "not_a_number"

In [4]:
s = "not_a_number"

try:
    num = int(s)
    print("Converted number:", num)
except ValueError:
    print(f"Cannot convert '{s}' to an integer.")

Cannot convert 'not_a_number' to an integer.

#### 4. Handle an exception when trying to access an out-of-range index in a list. 'IndexError'

In [ ]:
my_list = [1, 2, 3]
index = 5

In [5]:
my_list = [1, 2, 3]
index = 5

try:
    value = my_list[index]
    print("Value at index", index, "is", value)
except IndexError:
    print(f"Index {index} is out of range.")

Index 5 is out of range.

#### 5. Handle an exception when trying to open a non-existent file. 'FileNotFoundError'

In [ ]:
filename = "non_existent_file.txt"

In [6]:
filename = "non_existent_file.txt"

try:
    with open(filename, "r") as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print(f"The file '{filename}' was not found.")

The file 'non_existent_file.txt' was not found.

#### 6. Handle a TypeError when trying to concatenate a string and an integer. 'TypeError'

In [ ]:
a = "hello"
b = 42

In [7]:
a = "hello"
b = 42

try:
    result = a + b
    print(result)
except TypeError:
    print("Cannot concatenate a string and an integer directly.")

Cannot concatenate a string and an integer directly.

#### 7. Handle an exception when trying to import a non-existent module. 'ImportError'

In [ ]:
module_name = "non_existent_module"

In [8]:
module_name = "non_existent_module"

try:
    __import__(module_name)
except ImportError:
    print(f"Module '{module_name}' could not be imported.")

Module 'non_existent_module' could not be imported.

#### 8. Handle an exception when trying to call an undefined function. 'NameError'

In [ ]:
function_name = "undefined_function"

In [9]:
function_name = "undefined_function"

try:
    undefined_function()  # This function is not defined
except NameError:
    print(f"The function '{function_name}' is not defined.")

The function 'undefined_function' is not defined.

#### 9. Handle multiple exceptions when trying to convert user input to an integer and divide by it. 'ValueError' , 'ZeroDivisionError'

In [ ]:
user_input = input()
dividend = 10

 10

In [ ]:
user_input = input("Enter a number: ")
dividend = 10

try:
    divisor = int(user_input)
    result = dividend / divisor
    print("Result:", result)
except ValueError:
    print("Invalid input! Please enter a numeric value.")
except ZeroDivisionError:
    print("Cannot divide by zero.")